
{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='battle.css')}}">
{% endblock %}



{% block content %}
    {% for user in users %}
        {% if user != current_user %}
            {% if user.get_team_length() == 5 %}
    <div class="flex_container">
                {% for pokemon in user.get_team() %}
            
   

            <div class="flex_item">
                <div class="flex_sprite">
                    <img src="{{ pokemon.sprite_url }}", alt="sprite">
                </div>

                <div class="flex_sub_item">
                    {{pokemon.name}}
                </div>
                <div class="flex_sub_item">
                   Name: 
                </div>
                <div class="flex_sub_item">
                    {{pokemon.ability}}
                </div>
                <div class="flex_sub_item">
                    Ability:
                </div>
                <div class="flex_sub_item">
                    {{pokemon.base_hp}}
                </div>
                <div class="flex_sub_item">
                    HP:
                </div>
                <div class="flex_sub_item">
                   {{pokemon.base_att}} 
                </div>
                <div class="flex_sub_item">
                    Attack:
                </div>
                <div class="flex_sub_item">
                    {{pokemon.base_def}}
                </div>
                <div class="flex_sub_item">
                    Defense:
                </div>
            </div>
                {% endfor %}
                <a class="btn btn-primary" href="{{url_for('start_battle', opponent_id=user.id)}}">Battle</a>
        </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        
{% endblock %}
            



        