{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='lookup.css')}}">
{% endblock %}

{% block content %}
    <h2 class="white-font" style="margin-left: 5%; margin-top: 5%;">
        Which pokemon would you like to know about?
    </h2>
        <form class=" border p-3 rounded sign-in-form" method="POST">
            {{ form.hidden_tag() }}

            {{ form.query }}
            {{ form.submit }}
        </form>
    {% if output %}
        <div class="flexbox_container">
            <div class="flexbox_search_result rounded">
                {% for key,value in output.items() %}
                    {% if key == "Sprite" %}
                        <div class="sprite_div">
                            <img src="{{ value }}", alt="sprite">
                        </div>   
                    {% else %}
                        {{key, value}}

 
                    {% endif %}
                    <br>
                    {% endfor %}
                    
                      
                
                {% block content_ua %}
                {% endblock %}
                <a class="btn btn-primary catch" href="{{url_for('catch_poke', name=output.Name)}}">Catch</a>
            </div>
            
        </div>
        
    {% endif %}
{% endblock %}
