{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center; margin-top: 20%;">Which pokemon would you like to know about?</h2>
    <div class="flexbox_center">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.query }}
            {{ form.submit }}
        </form>
    </div>
    {% if output %}
        <div class="flexbox_center">
            {% for key,value in output.items() %}
                {{key, value}}
                <br>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}