
{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='team.css')}}">
{% endblock %}

{% block content %}
    {% for pokemon in team %}
        <div class="flex_container">
            
            

            <div class="flex_item">
                <div class="flex_sprite">
                    <img src="{{ pokemon.sprite_url }}", alt="sprite">
                </div>

                <div class="flex_sub_item">
                    {{pokemon.name}}
                </div>
                <div class="flex_sub_item">
                   Name: 
                </div>
                <div class="flex_sub_item">
                    {{pokemon.ability}}
                </div>
                <div class="flex_sub_item">
                    Ability:
                </div>
                <div class="flex_sub_item">
                    {{pokemon.base_hp}}
                </div>
                <div class="flex_sub_item">
                    HP:
                </div>
                <div class="flex_sub_item">
                   {{pokemon.base_att}} 
                </div>
                <div class="flex_sub_item">
                    Attack:
                </div>
                <div class="flex_sub_item">
                    {{pokemon.base_def}}
                </div>
                <div class="flex_sub_item">
                    Defense:
                </div>
                <a class="btn btn-primary release" href="{{url_for('release_poke', name=pokemon.name)}}">Release</a>
            </div>
            {% endfor %}
            {% endblock %} 
        </div>

        <!-- so jinja actually will read lines that have been commented out! -->